<p id="notice"><%= notice %></p>

<%= render "layouts/flash" %>
<p>
  <strong>Seller:</strong>
  <%= @auction.user.full_name %>
</p>
<p>
  <strong>Title:</strong>
  <%= @auction.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @auction.details %>
</p>

<p>
  <strong>Ending date:</strong>
  <%= @auction.ending_date %>
</p>

<p>
  <strong>Not-So-Secret Reserve price:</strong>
  <%= @auction.reserve_price %>
</p>
<p>
  <strong>Reserve Status</strong>
  <% if @auction.aasm_state == "reserve_met" %>
    Reserve Met
  <% else %>
    Reserve Not Met
  <% end %>
</p>
<p>
  <strong>Current price:</strong>
  <%= @auction.current_price%>
</p>
<% unless current_user == @auction.user %>
  <h2>Make a bid</h2>
  <%= simple_form_for [@auction, @bid] do |f| %>
    <%= f.input :amount %>
    <%= f.submit %>
  <% end %>
<% end %>
<h2>Bid List</h2>
<table>
  <thead>
    <th>Bid Amount</th>
    <th>Bidder</th>
  </thead>
  <tbody>
    <% @auction.bids.reverse.each do |b| %>
      <tr>
        <td>$<%= b.amount %></td>
        <td><%= b.user.full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
